body {
    padding-top: 50px;
    font-family: Lato;
    position: relative; //for scoll-spy
}

video {
    width: 100%    !important;
    height: auto   !important;
}

.divider-top {
    border-top: 1px solid #CCC;
}

.divider-bottom {
    border-bottom: 1px solid #CCC;
}

.container {
    font-family: lato;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container h2 {
    text-align: center;
    font-family: lato;
    font-size: 30px;
    margin-bottom: 35px;
}


/** Scrolling Nav **/
.nav-top a:hover {
    
  &:hover {
    color: #4fb3e8;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
  }
  text-decoration: none;
}



.nav-top ul li a {
    
  &:hover {
    color: #fff;
    background: #e6764e;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
  }
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav > .active > a {
  background: #58c7d0;
}

// scrollTop Styles
.nav-top ul li.scrollTop {
float: right;
}


/**************************
        TOP MENU
***************************/
.navbar-brand img {
    height: 30px;
    margin-top: -5px;
}



/**************************
        BANNER
***************************/

.jumbotron {
    background: #333 url('/images/banner.jpg') no-repeat center center;
    position: relative;
}

.jumbotron h1 small {
    color: #FFF;
    font-size: 24px;
}

.attribution {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #FFF;
    font-size: 10px;
}

.attribution a {
    color: #FFF;
    text-decoration: underline;
}

  .signup-as-student, .signup-as-teacher {
    font-family: Lato;
    font-size: 14px;
    color: #FFF !important;
    margin: 18px 0;
  }
    .signup-as-student:before, .signup-as-teacher:before {
      content: 'Sign up as a \A';
    }

  .signup-as-student {
    background-color: #ed6f23;

  }
  .signup-as-teacher {
    background-color: #3498DB;
  }
  @media (max-width: 480px) {
    .jumbotron {
        background-size: cover;
    }
    .signup-as-student:before, .signup-as-teacher:before {
      white-space: pre;
      font-size: 0.75em;
      line-height: 22px;
    }
    .signup-as-student, .signup-as-teacher {
      padding-top: 4px;
      padding-bottom: 10px;
    }
  }


#header {
    
}


/**************************
        How it Works
***************************/
/*
.vid-mini-nav .col-sm-4 {
    margin: 0px;
    padding: 0px;
}

.vid-mini-nav a {
    display:block;
    color: #000;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    border-right: 2px solid #FFF;
}

.vid-mini-nav a:last {
    border-right: none;
}

.vid-mini-nav a:hover {
    background-color: #DDD;
}
*/

/**************************
        DEVICES
***************************/
#devices {
   
}

#devices a .hidden {
    font-size: 14px;
    background: #FFF;
    color: #CCC;
    border-radius: 3px;
}

#devices a:hover .hidden {
    visibility: visible;
        display:block;
}

.block-link {
    display: block;
}

#devices .row .row {
    margin-bottom: 20px;
}

#devices a, #devices a i {
    color: #000;
    text-decoration: none;
    transition:all 0.3s ease;
}

#devices a:hover, #devices a:hover i {
    color: #DC682D ;
    text-decoration: none;
}

/**************************
        TESTIMONIALS
***************************/
#testimonial1 {
    
}


/**************************
        GOOGLE
***************************/
#google {
    
}

#google .fa-circle, #google .googleRed {
    color: rgb(219,76,62);
}

#google .container {
    //border-top: 1px solid #CCC;
}

#howItWorks {
    background: #FFF;
}

#howItWorks .container {
    border-top: 1px solid #CCC;
}


/**************************
        CTA
***************************/
#cta1 {
    background: #DB5E0A;
    color:#FFF;
}

#cta2 {
    background: #DB5E0A;
    color: #FFF;
}

/**************************
        PRICING
***************************/

#pricing {
    
}

.price-teachers, .price-schools {
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.price-teachers h3, .price-schools h3 {
    margin-top: 0px;
}

.price-teachers {
    border-right: 1px dotted #CCC;
}


/**************************
        ABOUT/MISSION
***************************/
#mission {
    
}


/**************************
        FOOTER
***************************/
#footer {
    background: #888;
    color: #FFF;
}

.featuresCentered {
    text-align: center
}

#footer {
    background: #888;
    color: #FFF;
}

#footer a {
    color: #FFF;
}

#footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#footer ul a {
    text-decoration: none;
    display: block;
    padding: 2px 0 2px 10px;
}

#footer ul a:hover {
    background-color: #999;
}

.social-icons {
    padding: 0px;
    margin: 0px;
}

.social-icons a {
    color: #FFF;
}

.social-icons a:hover, .social-icons a:hover i {
    text-decoration: none;
}

.social-icons a i {
    display:block;
    padding: 10px 0;
    transition:all 0.3s ease;
}

.social-icons a:hover i {
    background-color: #777;
}



/**************************
        TABS
Vertical Tabs
    custom inclusion of right, left and below tabs 
    http://www.bootply.com/74926 
***************************/
.tabs-right .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

/*
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
*/
/*
.tabs-right .nav-tabs > li {
  float: none;
}
*/
.tabs-right .nav-tabs > li > a {
  //min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
/*
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
*/
.tabs-right .nav-tabs {
  //float: right;
  margin-left: 19px;
  //border-left: 1px solid #ddd;
}

.tabs-right .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 0px 0px 0;
     -moz-border-radius: 0 0px 0px 0;
          border-radius: 0 0px 0px 0;
}

.tabs-right .nav-tabs > li > a:hover,
.tabs-right .nav-tabs > li > a:focus {
  border-color: transparent;
    background-color: #eee;
}

.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover,
.tabs-right .nav-tabs .active > a:focus {
  border-color: transparent;
  
    background-color: #ddd;
}

