<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

<script src="{{ "/js/footable/footable.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/js/footable/footable.filter.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/js/footable/footable.sort.js" | prepend: site.baseurl }}" type="text/javascript"></script>


<script type="text/javascript">
/* FooTable init code */
$(function () {
    $('table').footable().bind('footable_filtering', function (e) {
      var selected = $('.filter-type').find(':selected').text();
      if (selected && selected.length > 0) {
        e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
        e.clear = !e.filter;
      }
    });

    $('.clear-filter').click(function (e) {
      e.preventDefault();
      $('.filter-type').val('');
      $('table.demo').trigger('footable_clear_filter');
    });
    
    $('.filter-type').change(function (e) {
      e.preventDefault();
      $('table.demo').trigger('footable_filter', {filter: $('#filter').val()});
    });
    
    $('.footable').footable();

});

</script>
  </body>

</html>
