<footer>
          <div class="container-fluid" id="footer">
          <div class="container">
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>About</h3>
              <ul>
                <li><a href="#">Our Story</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">News</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>Product</h3>
              <ul>
                <li><a href="#">Features</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Integration</a></li>
                  <li><a href="#">Apps</a></li>
                  <li><a href="#">Browsers</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>Support</h3>
              <ul>
                <li><a href="#">Help</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Resources</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>Legal</h3>
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">FERPA Compliance</a></li>
                  <li><a href="#">Copyright Policy</a></li>
                  <li><a href="#">Terms of Service</a></li>
              </ul>
          </div>
          <div class="col-sm-12 col-md-2 col-md-offset-2">
              <div class="row">
                  <div class="col-xs-3 col-md-3 social-icons text-center">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="col-xs-3 col-md-3 social-icons text-center">
                        <a href="https://www.facebook.com/docentedu"><i class="fa fa-facebook"></i></a>
                    </div>
                  <div class="col-xs-3 col-md-3 social-icons text-center">
                        <a href="https://plus.google.com/u/0/b/117522766094305117240/117522766094305117240/posts"><i class="fa fa-google-plus"></i></a>
                    </div>
                  <div class="col-xs-3 col-md-3 text-center social-icons">
                        <a href="https://www.linkedin.com/company/docentedu"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
              <div class="row">
                  <div class="col-md-12">
                      Copyright &copy; 2015<br>
                      DocentEDU Inc.<br>
                      All Rights Reserved<br>
                      St. Paul, MN
                      <br/>
                      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                  </div>
              </div>
          </div>
              </div>
          </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/docent.js" | prepend: site.baseurl }}"></script>
 

