<footer>
          <div class="container-fluid" id="footer">
          <div class="container">
          <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-2">
              <h3>About</h3>
              <ul>
                <li><a href="{{ site.baseurl }}/#mission">Our Story</a></li>
                  <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                  <li><a href="{{ site.baseurl }}/blog#news">News</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>Product</h3>
              <ul>
                <li><a href="{{ site.baseurl }}/#features">Features</a></li>
                  <li><a href="{{ site.baseurl }}/#pricing">Pricing</a></li>
                  <li><a href="{{ site.baseurl }}/#google">Integration</a></li>
                  <li><a href="{{ site.baseurl }}/#devices">Mobile Apps</a></li>
                  <li><a href="{{ site.baseurl }}/#devices">Browser Extensions</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>Support</h3>
              <ul>
                <li><a href="{{ site.baseurl }}/support.html">Resources & Help</a></li>
                  <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
                  <li><a href="{{ site.baseurl }}/resources/accessibility.html">Accessibility</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
              <h3>Connect</h3>
              <ul>
                <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
                  <li><a href="https://www.facebook.com/docentedu">Facebook</a></li>
                  <li><a href="https://plus.google.com/u/0/b/117522766094305117240/117522766094305117240/posts">Google+</a></li>
                  <li><a href="https://www.linkedin.com/company/docentedu">LinkedIn</a></li>
              </ul>
          </div>
              </div>
          </div>
    <div class="container-fluid" id="legalFooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        &copy; 2015 DocentEDU - <a href="{{ site.baseurl }}/policies/">Privacy Policy</a> - <a href="{{ site.baseurl }}/policies/">Terms of Service</a>
                    </div>
                </div>
              </div>
          </div>
      </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jQuery.tubeplayer.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/docent.js" | prepend: site.baseurl }}"></script>
 

