


<footer>
    <div class="container-fluid" id="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-4 padding-0">
            <div class="col-xs-12 col-md-10">
              <h3>About</h3>
              <p>DocentEDU was founded by two high school teachers who wanted to create a richer learning experience for their students.</p>
             
                <p style="margin-top: 5px;"><a href="{{ site.baseurl }}/#mission"> Our Story </a> - <a href="{{ site.baseurl }}/blog">Blog</a> - <a href="{{ site.baseurl }}/jobs">Jobs</a></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 padding-0">
            <div class="col-xs-6 col-sm-3">
                <h3>Connect</h3>
                <ul>
                    <li><a href="https://twitter.com/DocentEDU">Twitter</a></li>
                    <li><a href="https://www.facebook.com/docentedu">Facebook</a></li>
                    <li><a href="https://plus.google.com/u/0/b/117522766094305117240/117522766094305117240/posts">Google+</a></li>
                    <li><a href="https://www.linkedin.com/company/docentedu">LinkedIn</a></li>
                    <li><a href="mailto:support@docentedu.com">Email</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h3>Product</h3>
                <ul>
                    <li><a href="{{ site.baseurl }}/#features">Features</a></li>
                      <li><a href="{{ site.baseurl }}/#pricing">Pricing</a></li>
                      <li><a href="{{ site.baseurl }}/#google">Integration</a></li>
                      <li><a href="{{ site.baseurl }}/#devices">Mobile Apps</a></li>
                      <li><a href="{{ site.baseurl }}/#devices">Browser Extensions</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h3>Support</h3>
                <ul>
                    <li><a href="{{ site.baseurl }}/support.html">Resources & Help</a></li>
                      <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
                      <li><a href="{{ site.baseurl }}/resources/accessibility.html">Accessibility</a></li>
                      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                      <li><a href="{{ site.baseurl }}/blog#news">News</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <h3>Legal</h3>
                <ul>
                    <li><a href="{{ site.baseurl }}/policies/">Privacy Policy</a></li>
                      <li><a href="{{ site.baseurl }}/policies/">FERPA Compliance</a></li>
                      <li><a href="{{ site.baseurl }}/policies/">Copyright Policy</a></li>
                      <li><a href="{{ site.baseurl }}/policies/">Terms of Service</a></li>
                </ul>
            </div>
        </div>

    </div><!--container-->
    </div><!-- fluid container -->
    
    <div class="container-fluid" id="legalFooter">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-sm-3">
                    <img src="{{ site.baseurl }}/images/mn.svg" width="22"/>Made in Minnesota
                </div>
                <div class="col-sm-9 text-right">
                    &copy; 2016 DocentEDU
                </div>
            </div>
        </div>
    </div>
</footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jQuery.tubeplayer.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/docent.js" | prepend: site.baseurl }}"></script>
 

