
        <!-- Main Navigation -->
    
<nav class="nav-top navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="header">
      <!-- mobile menu button -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#banner">
            <img src="images/logo_lrg.png" alt="DocentEDU Logo, three overlapping rectangles">
        </a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a id="link1" class="nav-section1" href="#features">How DocentEDU Works</a></li>
            <li><a id="link2" class="nav-section2" href="#google">Integration</a></li>
            <li><a id="link3" class="nav-section3" href="#pricing">Pricing</a></li>
            <li><a id="link4" class="nav-section4" href="#mission">Mission</a></li>
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/resources/embed.html">Tools to Embed</a></li>
            <li><a href="{{ site.baseurl }}/resources/text.html">Text Sources</a></li>
            <li><a href="{{ site.baseurl }}/resources/accessibility.html">Accessibility</a></li>
          </ul>
        </li>
            <li class="scrollTop"><a href="#"><span class="entypo-up-open"></span></a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://docentedu.com/beta/dashboard">Sign-in</a></li>
        </ul>
    </div>
  </div>
</nav>


