---
image: og.png
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" id="home">
    <header>
      <img id="logo" src="images/wordmark@2x.png" width="100" height="38" />
      <button class="add-to-chrome zero-opacity">Add to Chrome</button>
      <a id="dashboard" href="https://insertlearning.com/v1/dashboard/">Log In</a>
    </header>

      {{ content }}

    {% include footer.html %}
    <script>
      window.intercomSettings = {
        app_id: "yy1u1uw5"
      };
    </script>
    <script src="https://widget.intercom.io/widget/yy1u1uw5" async defer></script>
    
    <!-- Google Code for Sign-Ups Conversion Page -->
    <!-- call goog_report_conversion when someone clicks on the chosen link or button. -->
    <script type="text/javascript">
        /* <![CDATA[ */
        goog_snippet_vars = function() {
            var w = window;
            w.google_conversion_id = 825822386;
            w.google_conversion_label = "nbvACPH3tIABELKZ5IkD";
            w.google_remarketing_only = false;
        };
        // DO NOT CHANGE THE CODE BELOW.
        goog_report_conversion = function(url) {
            goog_snippet_vars();
            window.google_conversion_format = "3";
            var opt = new Object();
            opt.onload_callback = function() {
                if (typeof(url) != 'undefined') {
                  window.location = url;
                }
            }
            var conv_handler = window['google_trackConversion'];
            if (typeof(conv_handler) == 'function') {
                conv_handler(opt);
            }
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
    <!-- End Code for Conversion -->
  </body>

</html>
